body{
    background-color: antiquewhite;
}
h1{
    font-size: 60px;
    text-align: center;
    font-family: cursive;
    color: chocolate;
    
}
#counter{
    font-size: 40px;
    background-color: white;
    width: 300px;
    margin-left: 610px;
    margin-top: 200px;
border: 2px solid black;
    border-radius: 5px;
    border-color: brown;
  box-sizing: border-box;
  color: blueviolet;
  text-align: center;

}

 #btn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
 }
#increase ,#reset,#decrease{
 font-size: 25px;
 border-color: brown;
 border-style: double;
 border-radius: 50rem;
 color:purple;
 cursor: pointer;

}

